<div style="margin:10% 40%; width:250px;">
      <ejs-dropdownlist [dataSource]='sampleData' [allowFiltering]='true'
        
      placeholder='Select a value' [ignoreAccent]='true'>
   
     </ejs-dropdownlist>
</div>

<div style="margin:10% 40%; width:250px;">
  <ejs-dropdownlist [dataSource]='localData' [fields]='dataFields' [allowFiltering]='true'
    
  placeholder='Select a vegetable' [ignoreAccent]='true' [ignoreCase]='false'
  
  [filterType] = 'dropdownListFilterType'>

 </ejs-dropdownlist>
</div>